<!-- <nav class="header">
    <div class="container">
        <div class="heading">
            <i class="material-icons cursor-pointer" (click)="gotoHome()">near_me</i><span (click)="gotoHome()" class="title cursor-pointer">Locate</span>
        </div>
    </div>
</nav> -->
<!-- <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <div class="">
                <i class="material-icons cursor-pointer" (click)="gotoHome()">near_me</i>
                <span (click)="gotoHome()" class="title cursor-pointer">Locate</span>
            </div>
        </section>
    </div>
</header> -->
<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <div class="">
                <i class="material-icons cursor-pointer" (click)="gotoHome()">near_me</i>
                <span (click)="gotoHome()" class="title cursor-pointer">Locate</span>
            </div>
        </section>
    </div>
</header>
<toaster-container></toaster-container>